html {
  background: url("images/DSC01282.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#post 
{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(99,47,99,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(99,47,99,1);
  box-shadow: 10px 10px 5px 0px rgba(99,47,99,1);
  color: #333;
  background-color: white;
}